:root {
    --primaryAccentColour: #854fe8;
    --secondaryAccentColour: #854fe82c;
    --primaryBackgroundColour: white;
    --secondaryBackgroundColour: #ececec;
    --textColour: black;
}

body {
    background-color: var(--secondaryBackgroundColour);
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titleBar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--secondaryBackgroundColour);

    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

.titleBarText {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    left: 10px;
    top: -10px;
    color: var(--primaryAccentColour);
}

.side-panel {
    position: fixed;
    background-color: var(--secondaryBackgroundColour);
    width: 250px;
    height: calc(100% - 40px);
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 0 -20px 0 0;
}

.side-panel .button {
    margin-top: 20px;
    width: 75%;
    height: fit-content;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--secondaryBackgroundColour);
    color: #505050;
    font-size: x-large;
    border-radius: 10px;
    border: 0;
    margin-left: calc(25% / 2);
    text-align: left;
}

.side-panel .button:focus {
    outline: 2px solid var(--primaryAccentColour); 
}

.side-panel .button:hover {
    background-color: #c0c0c0;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.side-panel .button:active {
    background-color: #838383;
}

.side-panel .button.clicked {
    background-color: var(--secondaryAccentColour);
    color: var(--primaryAccentColour);
}

.main {
    position: fixed;
    height: calc(100% - 40px);
    width: calc(100% - 250px);
    right: 0;
    bottom: 0;
    background-color: var(--primaryBackgroundColour);
    border-radius: 20px 0 0 0;
    overflow-y: auto;

    display: none;
}

.main.active {
    display: block;
}

.appsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    width: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px;
    transition: transform 0.5s ease;
    color: var(--textColour);
}

.app:hover {
    outline-style: solid;
    outline-color: var(--secondaryBackgroundColour);
}

.appTime {
    margin-left: auto;
}

.appIcon {
    height: 32px;
    width: 32px;
    align-self: center;
    margin-right: 20px;
}

.settingsContainer {
    position: absolute;
    left: 25%;
    width: 50%;
}

.settingsTitle {
    font-size: 30px;

}

.settingsSubTitle {
    font-size: 15px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: -5px;
}

.setting {
    font-size: 23px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    height: 70px;
}

.settingsDescription {
    position: absolute;
    margin-top: 55px;
    font-size: 15px;
    font-style: italic;
}

#loadingText {
    position: relative;
    width: 20px;
    left: calc(50% - 20px);
    top: 10%;
    color: var(--textColour);
}

#colours {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.colourRow {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.colourCube {
    width: 40px;
    height: 40px;
    border: var(--secondaryBackgroundColour) calc(30px * 0.2) solid;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#colourSettings {
    display: flex;
    flex-direction: row;
}

#backgroundColourSetting {
    margin-left: 250px;
}